
svg {
    background-color: white;
}

h1 {
    color: rgb(36, 142, 216);
    font-size: 30pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    margin: auto;
    padding: 20px;
    padding-bottom: 10px;
}
h2 {
    color: rgb(black);
    font-size: 19.5pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    padding-bottom: 10px;
}

.decale{
    padding-left: 230px !important;
}


#btn1 {
    border-color: #00B402;
    color: black;
}
.selectedFuel1 {
    color: white !important;
    background:#00B402;
}

#btn2 {
    border-color: #C7AC27;
    color: black;
}
.selectedFuel2 {
    color: white !important;
    background:#C7AC27;
}

#btn3 {
    border-color: #1D4851;
    color: black;
}
.selectedFuel3 {
    color: white !important;
    background:#1D4851;
}

#btn4 {
    border-color: #2979FF;
    color: black;
}
.selectedFuel4 {
    color: white !important;
    background:#2979FF;
}

#btn5 {
    border-color: #FFAB00;
    color: black;
}
.selectedFuel5 {
    color: white !important;
    background:#FFAB00;
}

.unclicked.color_0{
    fill : #248ED8;
    fill-opacity: 0.8;
}

.clicked.color_0{
    fill : #175680;
    fill-opacity: 1;
}

.unclicked.color_0.unknown{
    fill : #dddddd !important;
    fill-opacity: 1 !important;
}

#map {
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

path:hover {
    /*fill: rgba(8, 81, 156, 0.2);*/
    cursor: pointer;
}

.test {
    padding-left: 190px;
    padding-top: 25px;
}

.selectedYear {
    color: white;
    background:darkgray;
}

.tooltipD3 {
    position: absolute;
    max-width: 400px;
    height: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.80);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

