svg {
    background-color: white;
}

h1 {
    color: rgb(115, 115, 115);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.decale{
    padding-left: 230px !important;
}

#btn1 {
    border-color: #00B402;
    color: black;
}
.selectedFuel1 {
    color: white !important;
    background:#00B402;
}

#btn2 {
    border-color: #C7AC27;
    color: black;
}
.selectedFuel2 {
    color: white !important;
    background:#C7AC27;
}

#btn3 {
    border-color: #1D4851;
    color: black;
}
.selectedFuel3 {
    color: white !important;
    background:#1D4851;
}

#btn4 {
    border-color: #2979FF;
    color: black;
}
.selectedFuel4 {
    color: white !important;
    background:#2979FF;
}

#btn5 {
    border-color: #FFAB00;
    color: black;
}
.selectedFuel5 {
    color: white !important;
    background:#FFAB00;
}

.unclicked.color_0{
    fill : #00B402;
}

.unclicked.color_1{
    fill : #C7AC27;
}

.unclicked.color_2{
    fill : #1D4851;
}

.unclicked.color_3{
    fill : #2979FF;
}

.unclicked.color_4{
    fill : #FFAB00;
}

.clicked.color_0{
    fill : white;
    fill-opacity: 1;
}

.clicked.color_1{
    fill : white;
    fill-opacity: 1;
}

.clicked.color_2{
    fill : white;
    fill-opacity: 1;
}

.clicked.color_3{
    fill : white;
    fill-opacity: 1;
}

.clicked.color_4{
    fill : white;
    fill-opacity: 1;
}

#container {
    width: 800px;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

path:hover {
    /*fill: rgba(8, 81, 156, 0.2);*/
    cursor: pointer;
}

.test {
    padding-left: 190px;
    padding-top: 25px;
}

.selectedYear {
    color: white;
}

.tooltipD3 {

    border-radius:0.5em;
    background-color:rgba(0,0,0,0.9);
    padding:0.3em;
    position: absolute;
    color: white;
    font-size: 12px;
    width: 70px;
    height: 26px;
    font-family: monospace;
    text-align: center;
    z-index: 1000;
    display: none;
}